/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/


html {
  height: auto;
  width: 100%;
  background-image: linear-gradient(to top, #e8198b 0%, #c7eafd 100%);
  font-size: 62.5%;
  padding: 2% 0 2% 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header { 
  background-color: white;
  width: 90vw;
  height: 5%;
  border-radius: 50px;
  font-family: 'Volkhov', serif;
  font-size: 2.2rem;
}

.topoptions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 87vw;
  margin-left: 0px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.topoptions li {
  list-style: none;
}

li:hover, li:focus {
  color: #e8198b;
  position: relative;
  bottom: 3px;
  transition: 0.15s;
  border-bottom: solid 2px #e8198b;
}

.selection {
  color: #e8198b;
  position: relative;
  bottom: 3px;
  transition: 0.15s;
  border-bottom: solid 2px #e8198b;
}

.allone {
  display: flex;
  flex-direction: row;
}

.edtext {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: white;
  position: relative;
  left: -18px;
  bottom: 27px;
  font-weight: lighter;
}

.education {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  width: 750px;
  height: 20%;
  border-radius: 50px;
  margin-top: 3%;
  position: relative;
  left: -15px;
}

.edleft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*border: solid 2px black; */
  background-color: white;
  border-radius: 40px;
  width: 20%;
  height: 100%;
  position: relative;
  left: 60px;
}

.edright {
  width: 60%;
  padding-left: 13%;
}

h2 {
  font-family: 'Volkhov', serif;
  font-size: 3rem;
  margin-bottom: 0px;
}

h3 {
  font-family: 'Volkhov', serif;
  font-style: italic;
  font-size: 2rem;
  margin-bottom: 0px;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.7rem;
  color: rgb(255, 132, 0);
}

.ublogo {
  width: 120px;
  height: 60px;
}

.alltwo {
  display: flex;
  flex-direction: row;
}

.exptext {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: white;
  position: relative;
  left: -18px;
  bottom: 200px;
  font-weight: lighter;
}

.experience {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  width: 750px;
  height: 35%;
  border-radius: 50px;
  margin-top: 3%;
  position: relative;
  left: -15px;
}

.exp {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

hr {
  display: flex;
  flex-direction: column;
  border: solid 1px rgb(123, 123, 123);
  width: 80%;
}

.axlogo {
  width: 104px;
  height: 122px;
  position: relative;
  left: 3px;
  top: 2px;
}

.trescalogo {
  width: 120px;
  height: 90px;
}

.BBlogo {
  width: 100px;
  height: 100px;
}

.allthree {
  display: flex;
  flex-direction: row;
}

.projtext {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: white;
  position: relative;
  left: -18px;
  bottom: 255px;
  font-weight: lighter;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  width: 750px;
  height: 27%;
  border-radius: 50px;
  margin-top: 3%;
  position: relative;
  left: -15px;
}

.cnd {
  height: 150px;
  width: 150px;
  border-radius: 25px;
}

.podcast {
  height: 150px;
  width: 150px;
  border-radius: 25px;
}

.GB {
  height: 64px;
  width: 138px;
}